# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Windows thumbnails
Thumbs.db
ehthumbs.db
Desktop.ini

# User-specific files
*.user
*.suo

# Revit temp files
*.0001.rvt
*.0001.rfa
*.log
